{{ define "page" }}
{{ template "page-title" "Quotes" }}

<div class="py-4 grid grid-cols-2 max-sm:grid-cols-1 gap-4">
  {{ range $quote := .Quotes }}
  {{ template "quote" $quote }}
  {{ end }}
</div>

{{ end }}
