{{ define "page" }}
{{ template "page-title" "Quotes" }}

<div class="py-4 flex flex-col gap-4">
  {{ range $quote := .Quotes }}
  <div class="shadow">
    &ldquo;{{ $quote.title }}&rdquo; - {{ $quote.person }}
  </div>

  {{ end }}
</div>

{{ end }}

