{{ define "quote" }}

<div class="shadow-md border p-4 text-center rounded-xl overflow-hidden" style="view-transition-name: quote-{{ .id }}">
  <div class="italic text-lg font-semibold">
    <span class="text-2xl text-gray-500">&ldquo;</span><!--
      --><span class="text-xl">{{- .title -}}</span><!--
      --><span class="text-2xl text-gray-500">&rdquo;</span>
  </div>
  <span class="text-gray-700">-&nbsp;{{ .person }}</span>
</div>

{{ end }}
