{{ define "footer" }}
<footer class="bg-gradient-to-t from-blue-50 to-slate-100" style="view-transition-name: footer">
  <div class="max-w-7xl w-full p-8 text-center mx-auto">
    <span class="text-gray-800 text-sm">
      iO Quotes
    </span>
  </div>
</footer>
{{ end }}
