{{ define "footer" }}
<footer class="bg-gradient-to-b from-gray-100 to-gray-200" style="view-transition-name: footer">
  <div class="max-w-7xl w-full p-8 text-center mx-auto">
    <span class="text-gray-800 text-sm">
      Hackathon
    </span>
  </div>
</footer>
{{ end }}
